.banner{
   background: url("https://www.mountelizabeth.com.sg/Sitefinity/WebSiteTemplates/ParkwayTemplate/App_Themes/ParkwayTheme/Images/en/background/average-bill-size.png")
    no-repeat center center ;
   background-size: cover;
   padding-top: 40%;
   padding-bottom: 0%;
}
h1{
    font-size: large;
}
.formulir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 10px 25px 10px ;
    width: 370px;
    height: 350px;
    background-color: rgb(204, 218, 237);
    box-shadow: 0 0 10px lightsteelblue;
    border-radius: 20px;
}
.formulir h2{
    text-align: center;
    border-bottom: 4px solid #2979ff;
}
.btn-daftar{
    text-align: center;
    margin-top: 20px;
}
.btn-daftar a{
    color:rgb(0, 0, 0) !important;
   margin-left: 10px !important;
   background: none !important;
   text-decoration: underline !important;
   text-align: center !important;
}
.btn-daftar a:hover{
    color: red !important;
    transition: all 0.5s ease-in-out !important;
}
.formulir form label{
    margin-top: 20px;
}
.formulir form input{
    padding: 5px 132px 5px 0px;
    border: none;
    background: none;
    border-bottom: 1px solid #2979ff;
    color:black;
}
.formulir form input::placeholder{
    color:slategray;
}
.formulir form a{
   margin-top: 30px;
   text-align: center;
   border-radius: 50px;
   width: 90px;
   height: 30px;
   margin-left: 35%;
    background-color:rgb(77, 55, 203);
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;

}
.formulir form a:hover{
    background-color: black;
    color: white;
}
.tentang{
    transform: translate(0,60%);
    background:rgb(216, 225, 237);
    padding: 20px 0px 18px 0px;
    width: 100%;
    text-align: center;
}
.footer{
    width: 100%;
    display: flex;
    margin: auto;
}
.footer-list{
    width: 20%;
    margin: 0 auto;
}
h3{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(6, 6, 75);
    width: 100%;
}
.copyright{
    transform: translate(0, 210%);
    background:rgb(125, 140, 159);
    padding: 10px 0px 13px 0px;
    text-align: center;
    width: 100%;
}
@media screen and (max-width:1199.98px){
    .logofoto img{
        transform: translate(-40% ,0%) !important;
    }
    .formulir{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .tentang{
        transform: translate(0, 100%);
    }
    .footer{
        text-align: center;
    }
    .footer-list{
        width: 100%;
    }
    .copyright{
        transform: translate(0%, 350%);
    }
}
@media screen and (max-width:991.98px){
    .logofoto img{
        transform: translate(-40% ,0%) !important;
    }
    .formulir{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .tentang{
        transform: translate(0, 62%);
    }
    .footer{
        display: block;
        text-align: center;
    }
    .footer-list{
        width: 100%;
    }
    .copyright{
        transform: translate(0%, 590%);
    }
}
@media screen and (max-width:767.98px){
    .logofoto img{
        transform: translate(-600% ,0%) !important;
    }
    .formulir{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .tentang{
        transform: translate(0%, 70%);
    }
    .footer{
        display: block;
        text-align: center;
    }
    .footer-list{
        width: 100%;
    }
    .copyright{
        transform: translate(0%, 665% );
    }
}
@media screen and (max-width:575.98px){
    .logofoto img{
        transform: translate(-450% ,0%) !important;
    }
    .formulir{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
    .tentang{
        transform: translate(0%, 70%);
    }
    .footer{
        display: block;
        text-align: center;
    }
    .footer-list{
        width: 100%;
    }
    .copyright{
        transform: translate(0%, 665% );
    }

    
}
